@import url('https://fonts.googleapis.com/css2?family=Anton&family=Barlow+Condensed&family=Bebas+Neue&family=Fjalla+One&display=swap');
*{
    margin: 0;
    padding: 0;
}
:root{
    --cor1: #ff914d;
    --cor2: #424041;
    --Anton: 'Anton', sans-serif;
    --barlow: 'Barlow Condensed', sans-serif;
    --bebas: 'Bebas Neue', cursive;
    --Fjalla: 'Fjalla One', sans-serif;
}
header{
    width: 100vw;
    height: 150px;
    background-color: var(--cor1);
}
header > img{
    height: 100%;
    display: block;
    margin: auto;
}
nav{
    display: flex;
    gap: 3%;
    justify-content: center;
    width: 100%;
    padding: 15px;
    background-color: #ff914d;
}
nav a{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    text-decoration: none;
}
main{
    width: 100vw;
    height: 1500px;
}
#sessao1{
    width: 100%;
    height: 350px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.titulo{
    font-family: var(--bebas);
    color: #ff914d;
    font-size: 2rem;
    line-height: 50px;
}
.titulo2{
    font-family: var(--bebas);
    color: whitesmoke;
    font-size: 2rem;
}
.paragrafos{
    font-family: var(--Fjalla);
    color: #424041;
    line-height: 150%;
}
#imagem1{
    display: flex;
    justify-content: center;
}
#primeiropar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#sessao2{
    display: flex;
    align-items: center;
    height: 350px;
    width: 100%;
    background-color: #ff914d;
    background-image: url('imagens/fundo.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    margin: auto;
}
#divback{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-left: 10px;
    width: 50%;
    height: 100%;
}
.legenda{
    font-family: var(--Fjalla);
    font-size: 1.2rem;
    color: #424041;
}
#sessao3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding-top: 15px;
    justify-items: center;
    width: 100%;
    height: 350px;

}
button{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    font-family: var(--Fjalla);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 12px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.151), 0 6px 20px 0 rgba(0, 0, 0, 0.13);
}
.bla{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    font-family: var(--Fjalla);
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 12px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.151), 0 6px 20px 0 rgba(0, 0, 0, 0.13);
}
.icones{
    display: grid;
    justify-items: center;
}
figcaption{
    color: #ff914d;
    font-family: Arial, Helvetica, sans-serif;
}
aside{
    padding: 15px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 370px;

}
.formulario1{
    display: flex;
    flex-direction: column;
    margin: auto;
    height: 100%;
}
textarea{
    box-sizing: border-box;
    border: 2px solid var(--cor1);
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}
label{
    font-family: var(--Fjalla);
    color: #424041;
}
input{
	border: none;
	border-bottom: 0.125rem solid var(--cor1);
	font-size: 1rem;
	padding-left: 0.675rem;
	line-height: 100%;
	padding-top: 0.625rem;
	padding-bottom: 0.5rem;
    border-radius: 12px;
}
footer{
    padding: 15px 0px;
    height: 100px;
    text-align: center;
    background-color: rgb(255, 255, 255);
}
.paragrafoFooter{
    font-family: Arial, Helvetica, sans-serif;
}