@import url('https://fonts.googleapis.com/css2?family=Anton&family=Barlow+Condensed&family=Bebas+Neue&family=Fjalla+One&display=swap');
*{
    margin: 0;
    padding: 0;
}
:root{
    --cor1: #ff914d;
    --cor2: #424041;
    --Anton: 'Anton', sans-serif;
    --barlow: 'Barlow Condensed', sans-serif;
    --bebas: 'Bebas Neue', cursive;
    --Fjalla: 'Fjalla One', sans-serif;
}
body{
    font-size: 16px;
}
header{
    width: 100vw;
    background-color: var(--cor1);
}
.headerdiv{
    display: flex;
    align-items: center;
}
.headerdiv img{
    height: 180px;
    width: 180px;
    display: block;
    margin: auto;
}
.navPrincipal{
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    padding-bottom:1rem ;
}
.navPrincipal a{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: min(1.2rem, 3.6vw);
    color: white;
    text-decoration: none;
}
.navCel{
    display: none;
}
.navCel a{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.6rem;  
}
.iconemenu{
    border: none;
    background-color: #ff914d;
    display: none;
    padding: 2rem;
}
.iconemenu img{
    width: 40px;
    height: 40px;
}
main{
    max-width: 1000px;
    width: 100vw;
}
#sessao1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    padding-left: 1rem;
    padding-top: 1rem;
}
.titulo{
    font-family: var(--bebas);
    color: #ff914d;
    font-size: 2rem;
    line-height: 2rem;
}
#g{
    width: 100%;
    height: auto;
}
.titulo2{
    font-family: var(--bebas);
    color: whitesmoke;
    font-size: 2rem;
    text-shadow: rgba(0, 0, 0, 0.219) 0.1em 0.1em 0.2em
    
}
.paragrafos{
    font-family: var(--Fjalla);
    color: #424041;
    line-height: 150%;
    font-size: 1.2rem;
}
.paragrafo3{
    font-family: var(--Fjalla);
    color: #424041;
    line-height: 150%;
    font-size: 1.2rem;
    align-self: start;
}
#imagem1{
    display: flex;
    justify-content: center;
    align-self: end;
}
#imagem1 > img{
    height: 100%;
}
#primeiropar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#sessao2{
    display: flex;
    align-items: center;
    flex-grow: 1;
    width: 100%;
    min-height: 500px;
    background-color: #ff914d;
    background-image: url('imagens/fundo.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    margin: auto;

}
#divback{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-left: 0.7em;
    width: 50%;
    height: 100%;
}
.legenda{
    font-family: var(--Fjalla);
    font-size: 1.1rem;
    color: #424041;
}
#sessao3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    width:100%;
}
.botao1{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 1rem 2rem;
    font-family: var(--Fjalla);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin: 0.25rem 0.2px;
    border-radius: 0.8rem;
    cursor: pointer;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.151), 0 0.6rem 1.4rem 0 rgba(0, 0, 0, 0.13);
}
.botao{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 0.9rem 1.8rem;
    text-align: center;
    text-decoration: none;
    font-family: var(--Fjalla);
    display: inline-block;
    font-size: 1rem;
    margin: 0.25rem 2px;
    border-radius: 0.8rem;
    cursor: pointer;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.151), 0 0.6rem 1.4rem 0 rgba(0, 0, 0, 0.13);
}
.botao[disabled]{
    background-color:  #ff914d;
}
.icones{
    display: grid;
    justify-items: center;
    padding: 1rem;

}
figcaption{
    color: #ff914d;
    font-family: Arial, Helvetica, sans-serif;
}
aside{
    padding: 1rem 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

}
#formulario1{
    display: flex;
    flex-direction: column;
    width: 70vw;
}
textarea{
    box-sizing: border-box;
    border: 2px solid var(--cor1);
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 1rem;
    resize: none;
    border-radius: 0.8rem;
}
label{
    font-family: var(--Fjalla);
    color: #424041;
}
input{
	border: 1px solid var(--cor1);
	font-size: 1rem;
	padding-left: 0.675rem;
	line-height: 100%;
	padding-top: 0.625rem;
	padding-bottom: 0.5rem;
    border-radius: 0.8rem;
}
.botaotextarea{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 0.9rem 1.8rem;
    align-self: center;
    text-align: center;
    text-decoration: none;
    font-family: var(--Fjalla);
    display: inline-block;
    font-size: 1rem;
    margin: 0.25rem 2px;
    border-radius: 0.8rem;
    cursor: pointer;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.151), 0 0.6rem 1.4rem 0 rgba(0, 0, 0, 0.13);
}
.alinhar{
    display: flex;
    align-items: center;
    justify-content: center;
}
footer{
    width: 100vw;
    padding: 15px 0px;
    text-align: center;
    background-color: rgb(255, 255, 255);
}
.paragrafoFooter{
    font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 400px){
    #sessao3{
        display: grid;
        grid-template: 1fr 1fr 1fr / 1fr 1fr 
    }
    .icones{
        padding: 0.px;
    }

    .formulario1{
        width:95%;
    }
}
@media screen and (max-width: 450px){
    .navPrincipal{
        display: none;
    }
    .iconemenu{
        display: block;
        cursor: pointer;
        background-color: transparent;
    }
    .open{
        display: block;
    }
    .headerdiv{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        align-items: center;
    }

}
@media screen and (max-width: 550px) {
    #sessao1{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
    }
    #imagem1{
        display: flex;
        align-self: center;
    }
    #sessao2{
        display: grid;
        justify-items: center;
    
    }
    #divback{
        width:80%;
    }
}

